* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.one {
  width: 5em;
  background: #ddd;
  border-radius: 10px;
}

#navbarNav > ul > li:nth-child(n) > a {
  display: flex;
  flex-direction: row;
}

span {
  color: blue;
  font-weight: 700;
}

